.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
  z-index: 1000;
}

.popup_inner {
  position: absolute;
  left: 30%;
  right: 30%;
  top: 20%;
  bottom: 20%;
  margin-bottom: 200px;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  background: white;
  z-index: 1000;
}

.popup_header {
  padding: 0px;
  text-align: center;
  background: #2ecc71;
  color: white;
  font-size: 10px;
  z-index: 1000;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #fff;
}

.dataView {
  width: 20%;
  margin: 1em;
}

#addEmailButton {
  margin-left: 2em;
}

#addEmailButton:hover {
  cursor: pointer;
}

.div-center{
  text-align:center;
}